@font-face {
  font-family: AtomicAlice;
  font-display: swap;
  src: url("../fonts/AtomicAlice-Regular.woff2") format("woff2"), url("../fonts/AtomicAlice-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
